body {
    margin: 0;
    background: #f1f0f7;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
h1 {
    color: #36454F;
    font-size: 50px;
    margin: 25px 0 25px 0;
}
h2 {
    color: #36454F;
    font-size: 40px;
    margin: 25px 0;
}
h3 {
    color: #36454F;
    font-size: 30px;
    margin: 50px 0 10 0px;

}
p {
    color: #36454F;
    font-size: larger;
    margin: 0 auto;
    width: 80%;
    text-align: center;
   
}
img {
    border-radius:50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    margin: 20px;
    width: 30%;
  height: auto;
}

